[defaults]
vault_password_file = .vault_pass
inventory = inventory/hosts.yml
roles_path = roles
collections_path = .ansible/collections
stdout_callback = default
result_format = yaml
interpreter_python = auto_silent

[ssh_connection]
pipelining = True
